langchain 
langchain-google-vertexai 
langchain-core
google-cloud-aiplatform
langgraph
ipykernel
pandas
numpy
openpyxl
opensearch-py
langfuse
fastapi
uvicorn
streamlit
langchain_google_genai
matplotlib
pdf2image
tqdm

